<!--
  Generated template for the AddTaskModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()"> <!-- Agregar boton de cerrar la ventana emergente-->
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list no-lines >

    <form class="container" (ngSubmit)="submit()">

      <ion-item>
          <ion-input placeholder="Task description" clearInput
            [(ngModel)]="model.description" name="description" required
            #descriptionState="ngModel">
          </ion-input>
      </ion-item>

      <ion-item color="danger" [hidden]="descriptionState.valid || descriptionState.untouched">
        Description is required
      </ion-item>

       <ion-item>
        <ion-label>Is important</ion-label>
        <ion-checkbox color="gray" [(ngModel)]="model.isImportant" name="chkIsImportant"></ion-checkbox>
      </ion-item>

      <div class="submit-button">
        <button ion-button block type="submit" 
        [disabled]="!descriptionState.valid">{{buttonText}}</button>
      </div>

    </form>

  </ion-list>

</ion-content>
